/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Mastering_Wrapping_of_Flex_Items */
.gallery {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
}

.gallery-background-color {
    background-color: blue;
}
