.toaster-background-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.toaster-background-error {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.toaster {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 400px;
    height: 100px;
    border-radius: 5px;
    z-index: 1001;
    cursor: pointer;
}

.toaster-body {
    height: 100%;

    font-family:sans-serif;
}

.toaster-text {
  line-height: 14px;
  height: 100px;
  width: 400px;
  display: table-cell;
  vertical-align: middle;
}