.toaster-background-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.toaster-background-error {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.toaster {
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 3px;
    box-shadow: 0 0 4px 0 black;
    z-index: 1001;
}

.toaster-body {
    display: inline-flex;
}

.toaster-text {
    padding: 12px 12px 12px 22px;
}

.toaster-close {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 10px;
}