.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #2e3035;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.background-color {
  background-color: #2e3035;
}

.header {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  /* background: url("./images/header.svg") 100% 100% no-repeat; */
  /* image taken from stack overflow */
  background: url("./images/header.svg") 100% 100%;
  height: 175px;
  width: 100%;
  max-width: 1110px;
  position: fixed;
}

.app-btn {
  height: fit-content;
}

.app-btn-sign-up {
  margin-left: 10px;
}

.slide-from-top-enter {
  top: -100px;  
}

.slide-from-top-enter.slide-from-top-enter-active {
  top: 20px;
  transition: all 400ms ease-in;
}

.slide-from-top-leave {
  top: 20px;
}

.slide-from-top-leave.slide-from-top-leave-active {
  top: -100px;
  transition: all 400ms ease-in;
}